In [145]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
display(HTML("<style>.output_result { max-width:100% !important; }</style>"))

In [146]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/spark-3.1.2-bin-hadoop3.2/python (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /opt/conda/lib/python3.9/site-packages (from pyspark) (0.10.9)

In [147]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
    .master("local[2]")\
    .appName("Lesson_2")\
    .config("spark.executor.instances",2)\
    .config("spark.executor.memory",'2g')\
    .config("spark.executor.cores",1)\
    .getOrCreate()
sc = spark.sparkContext

# Самостоятельная работа к уроку 3
На уроке мы попробовали оконные и пользовательские функции. Теперь закрепим полученные знания.

## Данные: [google drive: raw_sales.csv](https://drive.google.com/file/d/1G2N7Mnt4-Tqz4JdJxutGDMbJiOr32kZp/view?usp=sharing)

 Каждая строчка это продажа жилья, которая состоит из следующих полей (думаю описание не требуется):
*   date of sale
*   price
*   property type
*   number of bedrooms
*   4digit postcode

## Задание 1
Добавьте к таблице следующие поля:
*  Средняя стомость 10 проданных домов до текущего в том же районе (4digit postcode) (1 балл)
*  Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode) (1 балл)
*  Стоимость последнего проданного дома до текущего (1 балл)

In [148]:
from pyspark.sql import functions as F
from pyspark.sql import Window

raw_sales = spark.read.csv('./raw_sales.csv',header = True, inferSchema = True)
raw_sales.count()

29580

In [149]:
raw_sales.show()

+-------------------+--------+-------+------------+--------+
|           datesold|postcode|  price|propertyType|bedrooms|
+-------------------+--------+-------+------------+--------+
|2007-02-07 00:00:00|    2607| 525000|       house|       4|
|2007-02-27 00:00:00|    2906| 290000|       house|       3|
|2007-03-07 00:00:00|    2905| 328000|       house|       3|
|2007-03-09 00:00:00|    2905| 380000|       house|       4|
|2007-03-21 00:00:00|    2906| 310000|       house|       3|
|2007-04-04 00:00:00|    2905| 465000|       house|       4|
|2007-04-24 00:00:00|    2607| 399000|       house|       3|
|2007-04-30 00:00:00|    2606|1530000|       house|       4|
|2007-05-24 00:00:00|    2902| 359000|       house|       3|
|2007-05-25 00:00:00|    2906| 320000|       house|       3|
|2007-06-26 00:00:00|    2902| 385000|       house|       3|
|2007-06-27 00:00:00|    2906| 305000|       house|       3|
|2007-06-27 00:00:00|    2612| 850000|       house|       4|
|2007-06-28 00:00:00|    2904| 765000|       house|       4|
|2007-06-30 00:00:00|    2615| 517000|       house|       4|
|2007-07-02 00:00:00|    2914| 800000|       house|       5|
|2007-07-03 00:00:00|    2906| 336000|       house|       3|
|2007-07-06 00:00:00|    2615| 535000|       house|       5|
|2007-07-07 00:00:00|    2602| 900000|       house|       4|
|2007-07-08 00:00:00|    2600| 327000|       house|       1|
+-------------------+--------+-------+------------+--------+
only showing top 20 rows

In [150]:
wind_before = Window.partitionBy('postcode').orderBy('datesold').rowsBetween(-10, Window.currentRow - 1)
wind_after = Window.partitionBy('postcode').orderBy('datesold').rowsBetween(Window.currentRow + 1, 10)
wind_last = Window.orderBy('datesold').rowsBetween(Window.currentRow - 1, Window.currentRow - 1)

# Добавили 3 поля согласно первому заданию
raw_sales_mod = raw_sales.withColumn('last_house_price', F.sum('price').over(wind_last))
raw_sales_mod = raw_sales_mod.withColumn('avg_10_before', F.round(F.avg('price').over(wind_before), 2))
raw_sales_mod = raw_sales_mod.withColumn('avg_10_after', F.round(F.avg('price').over(wind_after), 2))

In [151]:
raw_sales_mod.show(100)

21/08/18 10:48:48 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-------------------+--------+-------+------------+--------+----------------+-------------+------------+
|           datesold|postcode|  price|propertyType|bedrooms|last_house_price|avg_10_before|avg_10_after|
+-------------------+--------+-------+------------+--------+----------------+-------------+------------+
|2007-07-08 00:00:00|    2600| 327000|       house|       1|          900000|         null|    708350.0|
|2007-08-16 00:00:00|    2600| 790000|       house|       4|          625000|     327000.0|    698350.0|
|2007-12-05 00:00:00|    2600| 825000|       house|       3|          620000|     558500.0|    679350.0|
|2008-01-21 00:00:00|    2600| 315000|        unit|       1|          580000|    647333.33|    742850.0|
|2008-04-24 00:00:00|    2600| 292500|       house|       1|          445000|     564250.0|    786600.0|
|2008-05-30 00:00:00|    2600| 329000|        unit|       2|          357000|     509900.0|    839200.0|
|2008-06-19 00:00:00|    2600| 765000|       house|       5|          362000|     479750.0|    868450.0|
|2008-07-29 00:00:00|    2600| 927000|       house|       4|          365000|     520500.0|    805750.0|
|2008-09-02 00:00:00|    2600|1380000|       house|       5|          541000|     571312.5|    715250.0|
|2008-09-08 00:00:00|    2600| 740000|       house|       3|          360500|    661166.67|    756250.0|
|2008-09-17 00:00:00|    2600| 720000|       house|       3|          420000|     669050.0|    741750.0|
|2008-09-22 00:00:00|    2600| 690000|       house|       4|          685000|     708350.0|    730550.0|
|2008-11-18 00:00:00|    2600| 635000|       house|       3|          540000|     698350.0|    755050.0|
|2008-11-18 00:00:00|    2600| 950000|       house|       3|          635000|     679350.0|    701050.0|
|2008-11-21 00:00:00|    2600| 730000|       house|       3|          500000|     742850.0|    729550.0|
|2008-12-22 00:00:00|    2600| 855000|       house|       3|          630000|     786600.0|    716250.0|
|2008-12-24 00:00:00|    2600|1057500|       house|       4|          499000|     839200.0|    641500.0|
|2009-01-06 00:00:00|    2600| 300000|        unit|       2|          450000|     868450.0|    672500.0|
|2009-01-12 00:00:00|    2600| 475000|        unit|       2|          750000|     805750.0|    689000.0|
|2009-01-20 00:00:00|    2600|1150000|       house|       4|          500000|     715250.0|    641500.0|
|2009-01-22 00:00:00|    2600| 575000|       house|       3|          512000|     756250.0|    684000.0|
|2009-02-03 00:00:00|    2600| 578000|        unit|       2|          365000|     741750.0|    663700.0|
|2009-02-13 00:00:00|    2600| 880000|       house|       4|          450000|     730550.0|    690700.0|
|2009-02-27 00:00:00|    2600| 410000|        unit|       1|          476000|     755050.0|    725700.0|
|2009-03-17 00:00:00|    2600|1015000|       house|       4|          580000|     701050.0|    735200.0|
|2009-03-28 00:00:00|    2600| 722000|       house|       4|          690000|     729550.0|    744000.0|
|2009-03-30 00:00:00|    2600| 310000|        unit|       1|          568500|     716250.0|    803000.0|
|2009-03-31 00:00:00|    2600| 610000|       house|       3|          580000|     641500.0|    823200.0|
|2009-04-16 00:00:00|    2600| 640000|        unit|       2|          372000|     672500.0|    855200.0|
|2009-05-08 00:00:00|    2600| 675000|       house|       3|          615000|     689000.0|    861200.0|
|2009-05-15 00:00:00|    2600|1000000|       house|       4|          560000|     641500.0|    839400.0|
|2009-05-21 00:00:00|    2600| 375000|        unit|       2|          439000|     684000.0|    944900.0|
|2009-05-28 00:00:00|    2600|1150000|        unit|       3|          640000|     663700.0|    918200.0|
|2009-07-01 00:00:00|    2600| 760000|       house|       3|          760000|     690700.0|    976200.0|
|2009-07-15 00:00:00|    2600|1110000|       house|       4|          432000|     725700.0|    947700.0|
|2009-09-03 00:00:00|    2600| 810000|       house|       2|          498000|     735200.0|   1101700.0|
|2009-09-22 00:00:00|    2600| 900000|       house|       3|          612500|     744000.0|   1048700.0|
|2009-10-10 00:00:00|    2600| 812000|       house|       3|          600000|     803000.0|   1024500.0|
|2009-10-10 00:00:00|    2600| 960000|       house|       2|          812000|     823200.0|    976000.0|
|2009-10-12 00:00:00|    2600| 735000|       house|       3|          608000|     855200.0|    981500.0|
|2009-10-12 00:00:00|    2600| 782000|       house|       4|          735000|     861200.0|    999800.0|
|2009-11-02 00:00:00|    2600|1430000|       house|       5|          906000|     839400.0|    895050.0|
|2009-11-14 00:00:00|    2600| 883000|       house|       4|          417000|     944900.0|    889850.0|
|2009-12-02 00:00:00|    2600|1340000|       house|       3|          753000|     918200.0|    831850.0|
|2010-01-29 00:00:00|    2600| 825000|       house|       3|          530000|     976200.0|    859350.0|
|2010-02-12 00:00:00|    2600|2350000|       house|       4|          635000|     947700.0|    720850.0|
|2010-02-17 00:00:00|    2600| 370000|        unit|       2|          364000|    1101700.0|    760350.0|
|2010-03-12 00:00:00|    2600| 570000|        unit|       2|          720000|    1048700.0|    778350.0|
|2010-05-06 00:00:00|    2600| 475000|        unit|       1|          575000|    1024500.0|    813850.0|
|2010-05-14 00:00:00|    2600| 790000|       house|       3|          632000|     976000.0|    778050.0|
|2010-05-21 00:00:00|    2600| 965000|       house|       3|          900000|     981500.0|    809050.0|
|2010-06-18 00:00:00|    2600| 382500|       house|       2|          315000|     999800.0|    870800.0|
|2010-07-07 00:00:00|    2600| 831000|       house|       3|          713000|     895050.0|    885700.0|
|2010-07-16 00:00:00|    2600| 760000|       house|       2|          726540|     889850.0|    922700.0|
|2010-08-14 00:00:00|    2600|1100000|       house|       4|          820000|     831850.0|    842600.0|
|2010-09-10 00:00:00|    2600| 965000|       house|       3|          700000|     859350.0|    840100.0|
|2010-09-15 00:00:00|    2600| 765000|       house|       3|          635000|     720850.0|    844800.0|
|2010-09-17 00:00:00|    2600| 750000|        unit|       3|          530000|     760350.0|    863800.0|
|2010-09-25 00:00:00|    2600| 830000|       house|       3|          663000|     778350.0|    874800.0|
|2010-10-29 00:00:00|    2600| 432000|        unit|       1|          640000|     813850.0|    910500.0|
|2010-10-29 00:00:00|    2600|1275000|        unit|       3|          432000|     778050.0|    811500.0|
|2010-10-30 00:00:00|    2600|1000000|       house|       3|          788000|     809050.0|    754500.0|
|2010-11-09 00:00:00|    2600| 980000|       house|       5|          560000|     870800.0|    755500.0|
|2010-11-13 00:00:00|    2600|1130000|       house|       5|          980000|     885700.0|    736500.0|
|2010-11-22 00:00:00|    2600| 299000|        unit|       1|          675000|     922700.0|    811600.0|
|2010-12-04 00:00:00|    2600| 940000|       house|       4|          910000|     842600.0|    763600.0|
|2010-12-11 00:00:00|    2600| 812000|       house|       4|          610000|     840100.0|    802400.0|
|2010-12-13 00:00:00|    2600| 940000|       house|       3|          655000|     844800.0|    853900.0|
|2010-12-14 00:00:00|    2600| 940000|       house|       4|          775000|     863800.0|    870900.0|
|2010-12-16 00:00:00|    2600| 789000|       house|       3|          655000|     874800.0|    992000.0|
|2011-01-17 00:00:00|    2600| 285000|        unit|       1|          608800|     910500.0|   1004700.0|
|2011-02-18 00:00:00|    2600| 430000|        unit|       1|         1150000|     811500.0|   1096700.0|
|2011-02-19 00:00:00|    2600| 990000|       house|       3|          980000|     754500.0|   1083700.0|
|2011-03-05 00:00:00|    2600| 940000|       house|       5|          870000|     755500.0|   1078050.0|
|2011-03-15 00:00:00|    2600|1050000|       house|       4|          627000|     736500.0|   1030550.0|
|2011-03-18 00:00:00|    2600| 460000|        unit|       1|          330000|     811600.0|   1057550.0|
|2011-03-30 00:00:00|    2600|1200000|       house|       4|          730000|     763600.0|   1025800.0|
|2011-04-08 00:00:00|    2600|1455000|       house|       3|          748000|     802400.0|    973300.0|
|2011-05-03 00:00:00|    2600|1110000|       house|       4|         1005000|     853900.0|    907550.0|
|2011-05-06 00:00:00|    2600|2000000|       house|       4|          844000|     870900.0|    779550.0|
|2011-05-13 00:00:00|    2600| 412000|        unit|       2|         1330000|     992000.0|    865350.0|
|2011-05-31 00:00:00|    2600|1350000|       house|       4|          733000|    1004700.0|    820350.0|
|2011-06-23 00:00:00|    2600| 860000|       house|       3|          790000|    1096700.0|    834350.0|
|2011-06-29 00:00:00|    2600| 883500|       house|       3|          750000|    1083700.0|    956000.0|
|2011-07-13 00:00:00|    2600| 575000|        unit|       2|          252500|    1078050.0|   1018500.0|
|2011-08-09 00:00:00|    2600| 730000|       house|       3|          513000|    1030550.0|   1024600.0|
|2011-08-17 00:00:00|    2600| 882500|       house|       3|          650000|    1057550.0|   1004850.0|
|2011-08-31 00:00:00|    2600| 930000|       house|       3|          720250|    1025800.0|   1011550.0|
|2011-09-08 00:00:00|    2600| 452500|        unit|       1|          310000|     973300.0|   1034800.0|
|2011-09-19 00:00:00|    2600| 720000|       house|       3|          604000|     907550.0|   1038500.0|
|2011-10-27 00:00:00|    2600|1270000|       house|       4|          515000|     779550.0|   1001400.0|
|2011-11-07 00:00:00|    2600| 900000|       house|       3|          655000|     865350.0|   1009900.0|
|2011-11-17 00:00:00|    2600|1000000|       house|       3|          910000|     820350.0|    978900.0|
|2011-11-23 00:00:00|    2600|2100000|       house|       4|          415000|     834350.0|    830300.0|
|2011-11-30 00:00:00|    2600|1200000|       house|       3|          638000|     956000.0|    809800.0|
|2011-12-03 00:00:00|    2600| 791000|       house|       4|          471000|    1018500.0|    928700.0|
|2011-12-05 00:00:00|    2600| 685000|       house|       3|          615000|    1024600.0|    957200.0|
|2011-12-05 00:00:00|    2600| 997000|       house|       4|          685000|    1004850.0|    944500.0|
|2011-12-14 00:00:00|    2600| 685000|       house|       1|          545000|    1011550.0|    915750.0|
|2011-12-20 00:00:00|    2600| 757000|       house|       3|          626000|    1034800.0|    927027.7|
+-------------------+--------+-------+------------+--------+----------------+-------------+------------+
only showing top 100 rows

## Задание 2
Найдите среднюю цену жилья для каждого года и приджойните эти данные к таблице из задания 1. (2 балла)


*(left join on a.year(date of sale) = b.year, где a - таблица из первого задания, а b таблица после группировки)*

In [152]:
# Рассчитали среднегодовую стоимость жилья
avg_price_year = raw_sales.select(F.year('datesold').alias('yearsold'), 'datesold', 'price') \
                          .groupBy('yearsold').agg(F.round(F.avg('price'), 2).alias('avg_price_year')) \
                          .orderBy('yearsold') \
#                          .show()

# Получили итоговую таблицу после присоединения информации о средней стоимости в году, когда была совершена сделка
raw_sales_res = raw_sales_mod.join(avg_price_year, on=[F.year(raw_sales_mod['datesold']) == avg_price_year['yearsold']], how='left') \
                            .select('price', 'last_house_price', 'avg_10_before', 'avg_10_after', 'avg_price_year',
                                    'datesold', 'postcode', 'propertyType', 'bedrooms')
raw_sales_res.show()

21/08/18 10:48:57 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+
|  price|last_house_price|avg_10_before|avg_10_after|avg_price_year|           datesold|postcode|propertyType|bedrooms|
+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+
| 327000|          900000|         null|    708350.0|     522377.21|2007-07-08 00:00:00|    2600|       house|       1|
| 790000|          625000|     327000.0|    698350.0|     522377.21|2007-08-16 00:00:00|    2600|       house|       4|
| 825000|          620000|     558500.0|    679350.0|     522377.21|2007-12-05 00:00:00|    2600|       house|       3|
| 315000|          580000|    647333.33|    742850.0|     493814.16|2008-01-21 00:00:00|    2600|        unit|       1|
| 292500|          445000|     564250.0|    786600.0|     493814.16|2008-04-24 00:00:00|    2600|       house|       1|
| 329000|          357000|     509900.0|    839200.0|     493814.16|2008-05-30 00:00:00|    2600|        unit|       2|
| 765000|          362000|     479750.0|    868450.0|     493814.16|2008-06-19 00:00:00|    2600|       house|       5|
| 927000|          365000|     520500.0|    805750.0|     493814.16|2008-07-29 00:00:00|    2600|       house|       4|
|1380000|          541000|     571312.5|    715250.0|     493814.16|2008-09-02 00:00:00|    2600|       house|       5|
| 740000|          360500|    661166.67|    756250.0|     493814.16|2008-09-08 00:00:00|    2600|       house|       3|
| 720000|          420000|     669050.0|    741750.0|     493814.16|2008-09-17 00:00:00|    2600|       house|       3|
| 690000|          685000|     708350.0|    730550.0|     493814.16|2008-09-22 00:00:00|    2600|       house|       4|
| 635000|          540000|     698350.0|    755050.0|     493814.16|2008-11-18 00:00:00|    2600|       house|       3|
| 950000|          635000|     679350.0|    701050.0|     493814.16|2008-11-18 00:00:00|    2600|       house|       3|
| 730000|          500000|     742850.0|    729550.0|     493814.16|2008-11-21 00:00:00|    2600|       house|       3|
| 855000|          630000|     786600.0|    716250.0|     493814.16|2008-12-22 00:00:00|    2600|       house|       3|
|1057500|          499000|     839200.0|    641500.0|     493814.16|2008-12-24 00:00:00|    2600|       house|       4|
| 300000|          450000|     868450.0|    672500.0|     496092.03|2009-01-06 00:00:00|    2600|        unit|       2|
| 475000|          750000|     805750.0|    689000.0|     496092.03|2009-01-12 00:00:00|    2600|        unit|       2|
|1150000|          500000|     715250.0|    641500.0|     496092.03|2009-01-20 00:00:00|    2600|       house|       4|
+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+
only showing top 20 rows

## Задание 3
В итоге у вас таблица с колонками (или нечто похожее):
*   price
*   Среднегодовая цена
*  Средняя стомость 10 проданных домов до текущего в том же районе (4digit postcode) (1 балл)
*  Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode) (1 балл)
*  Стоимость последнего проданного дома до текущего ((1 балл)
*  и др.

Посчитайте кол-во уникальных значений в каждой строчке (unique(row)). (2 балла)

In [153]:
raw_sales_res.show()

21/08/18 10:49:08 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+
|  price|last_house_price|avg_10_before|avg_10_after|avg_price_year|           datesold|postcode|propertyType|bedrooms|
+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+
| 327000|          900000|         null|    708350.0|     522377.21|2007-07-08 00:00:00|    2600|       house|       1|
| 790000|          625000|     327000.0|    698350.0|     522377.21|2007-08-16 00:00:00|    2600|       house|       4|
| 825000|          620000|     558500.0|    679350.0|     522377.21|2007-12-05 00:00:00|    2600|       house|       3|
| 315000|          580000|    647333.33|    742850.0|     493814.16|2008-01-21 00:00:00|    2600|        unit|       1|
| 292500|          445000|     564250.0|    786600.0|     493814.16|2008-04-24 00:00:00|    2600|       house|       1|
| 329000|          357000|     509900.0|    839200.0|     493814.16|2008-05-30 00:00:00|    2600|        unit|       2|
| 765000|          362000|     479750.0|    868450.0|     493814.16|2008-06-19 00:00:00|    2600|       house|       5|
| 927000|          365000|     520500.0|    805750.0|     493814.16|2008-07-29 00:00:00|    2600|       house|       4|
|1380000|          541000|     571312.5|    715250.0|     493814.16|2008-09-02 00:00:00|    2600|       house|       5|
| 740000|          360500|    661166.67|    756250.0|     493814.16|2008-09-08 00:00:00|    2600|       house|       3|
| 720000|          420000|     669050.0|    741750.0|     493814.16|2008-09-17 00:00:00|    2600|       house|       3|
| 690000|          685000|     708350.0|    730550.0|     493814.16|2008-09-22 00:00:00|    2600|       house|       4|
| 635000|          540000|     698350.0|    755050.0|     493814.16|2008-11-18 00:00:00|    2600|       house|       3|
| 950000|          635000|     679350.0|    701050.0|     493814.16|2008-11-18 00:00:00|    2600|       house|       3|
| 730000|          500000|     742850.0|    729550.0|     493814.16|2008-11-21 00:00:00|    2600|       house|       3|
| 855000|          630000|     786600.0|    716250.0|     493814.16|2008-12-22 00:00:00|    2600|       house|       3|
|1057500|          499000|     839200.0|    641500.0|     493814.16|2008-12-24 00:00:00|    2600|       house|       4|
| 300000|          450000|     868450.0|    672500.0|     496092.03|2009-01-06 00:00:00|    2600|        unit|       2|
| 475000|          750000|     805750.0|    689000.0|     496092.03|2009-01-12 00:00:00|    2600|        unit|       2|
|1150000|          500000|     715250.0|    641500.0|     496092.03|2009-01-20 00:00:00|    2600|       house|       4|
+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+
only showing top 20 rows

In [154]:
@F.udf('string')
def unique(value):
    value = list(map(str, value))
    return len(set(value))

# Модифицировали итоговый фрейм, добавив информацию о количестве уникальных значениях в каждой строчке.
# raw_sales_res.select('*', unique(F.array(raw_sales_res.columns)).alias('Unique_values')).show()
raw_sales_res = raw_sales_res.withColumn('Unique_values', unique(F.array(raw_sales_res.columns)))
raw_sales_res.show()

21/08/18 10:49:23 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+-------------+
|  price|last_house_price|avg_10_before|avg_10_after|avg_price_year|           datesold|postcode|propertyType|bedrooms|Unique_values|
+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+-------------+
| 327000|          900000|         null|    708350.0|     522377.21|2007-07-08 00:00:00|    2600|       house|       1|            9|
| 790000|          625000|     327000.0|    698350.0|     522377.21|2007-08-16 00:00:00|    2600|       house|       4|            9|
| 825000|          620000|     558500.0|    679350.0|     522377.21|2007-12-05 00:00:00|    2600|       house|       3|            9|
| 315000|          580000|    647333.33|    742850.0|     493814.16|2008-01-21 00:00:00|    2600|        unit|       1|            9|
| 292500|          445000|     564250.0|    786600.0|     493814.16|2008-04-24 00:00:00|    2600|       house|       1|            9|
| 329000|          357000|     509900.0|    839200.0|     493814.16|2008-05-30 00:00:00|    2600|        unit|       2|            9|
| 765000|          362000|     479750.0|    868450.0|     493814.16|2008-06-19 00:00:00|    2600|       house|       5|            9|
| 927000|          365000|     520500.0|    805750.0|     493814.16|2008-07-29 00:00:00|    2600|       house|       4|            9|
|1380000|          541000|     571312.5|    715250.0|     493814.16|2008-09-02 00:00:00|    2600|       house|       5|            9|
| 740000|          360500|    661166.67|    756250.0|     493814.16|2008-09-08 00:00:00|    2600|       house|       3|            9|
| 720000|          420000|     669050.0|    741750.0|     493814.16|2008-09-17 00:00:00|    2600|       house|       3|            9|
| 690000|          685000|     708350.0|    730550.0|     493814.16|2008-09-22 00:00:00|    2600|       house|       4|            9|
| 635000|          540000|     698350.0|    755050.0|     493814.16|2008-11-18 00:00:00|    2600|       house|       3|            9|
| 950000|          635000|     679350.0|    701050.0|     493814.16|2008-11-18 00:00:00|    2600|       house|       3|            9|
| 730000|          500000|     742850.0|    729550.0|     493814.16|2008-11-21 00:00:00|    2600|       house|       3|            9|
| 855000|          630000|     786600.0|    716250.0|     493814.16|2008-12-22 00:00:00|    2600|       house|       3|            9|
|1057500|          499000|     839200.0|    641500.0|     493814.16|2008-12-24 00:00:00|    2600|       house|       4|            9|
| 300000|          450000|     868450.0|    672500.0|     496092.03|2009-01-06 00:00:00|    2600|        unit|       2|            9|
| 475000|          750000|     805750.0|    689000.0|     496092.03|2009-01-12 00:00:00|    2600|        unit|       2|            9|
|1150000|          500000|     715250.0|    641500.0|     496092.03|2009-01-20 00:00:00|    2600|       house|       4|            9|
+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+-------------+
only showing top 20 rows

In [155]:
raw_sales_res.filter(F.col('Unique_values') != 9).show()

21/08/18 10:49:31 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+-------------+
|  price|last_house_price|avg_10_before|avg_10_after|avg_price_year|           datesold|postcode|propertyType|bedrooms|Unique_values|
+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+-------------+
| 760000|          760000|     690700.0|    976200.0|     496092.03|2009-07-01 00:00:00|    2600|       house|       3|            8|
| 865000|          865000|     781200.0|    967100.0|     592653.76|2014-03-24 00:00:00|    2600|       house|       4|            8|
| 985000|          675000|     967700.0|    967700.0|     592653.76|2014-08-08 00:00:00|    2600|       house|       4|            8|
|1100000|         1100000|     912700.0|    946650.0|     592653.76|2014-11-01 00:00:00|    2600|       house|       4|            8|
| 930000|          930000|    1076950.0|   1011050.0|     592653.76|2014-11-15 00:00:00|    2600|       house|       4|            8|
| 860000|          860000|     935500.0|   1102990.0|     626101.34|2015-03-06 00:00:00|    2600|       house|       3|            8|
| 845000|          845000|    1073900.0|   1181800.0|     626101.34|2015-09-12 00:00:00|    2600|       house|       3|            8|
| 875000|          875000|    1187300.0|   1237900.0|     626101.34|2015-10-29 00:00:00|    2600|       house|       3|            8|
| 745000|          745000|    1154600.0|   1102100.0|     626101.34|2015-12-16 00:00:00|    2600|       house|       3|            8|
| 465000|          465000|     624650.0|    611690.0|     671880.55|2017-05-02 00:00:00|    2601|        unit|       1|            8|
| 475000|          475000|     535100.0|    658800.0|     496092.03|2009-03-10 00:00:00|    2602|       house|       3|            8|
| 750000|          750000|     553560.0|    629200.0|     559564.81|2010-02-19 00:00:00|    2602|       house|       3|            8|
| 605000|          605000|     610060.0|    602200.0|     559564.81|2010-02-23 00:00:00|    2602|       house|       4|            8|
| 720000|          720000|     721450.0|    648900.0|     566715.11|2011-04-05 00:00:00|    2602|       house|       4|            8|
| 790000|          790000|     688895.0|    589090.0|      553416.3|2013-08-26 00:00:00|    2602|       house|       3|            8|
| 730000|          730000|     709350.0|    662630.0|     592653.76|2014-11-08 00:00:00|    2602|       house|       4|            8|
| 770000|          770000|     662630.0|    647660.0|     592653.76|2014-11-14 00:00:00|    2602|       house|       4|            8|
| 600000|          600000|     634850.0|    525410.0|     626101.34|2015-02-14 00:00:00|    2602|       house|       3|            8|
| 680000|          680000|     616400.0|    750850.0|     626101.34|2015-03-20 00:00:00|    2602|       house|       3|            8|
| 670000|          670000|     624850.0|    740395.0|     626101.34|2015-05-23 00:00:00|    2602|       house|       3|            8|
+-------+----------------+-------------+------------+--------------+-------------------+--------+------------+--------+-------------+
only showing top 20 rows